<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authenticate yo bad self</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>
  <body>
    <div class="mdl-grid ">
      <div class="mdl-cell mdl-cell--12-col">
      <h1>Hi there.</h1>

      {% if client_id %}
      <p>
      Your client_id: {{client_id}}<br/>
      Your client_secret: {{client_secret}}<br/>
      </p>
      {% else %}
      No Client details are set. <a href="">Create a client application?</a>
      {% endif %}

      {% if not code %}
      <p>
      <a href="http://docker.local:8002/oauth/?client_id={{client_id}}" >Authenticate</a>
      </p>
      {% else %}
      <div>service_response1: {{service_response1.content}}</div>
      <div>service_response2: {{service_response2.content}}</div>
      {% endif %}
      </div>
    </div>

  </body>  
</html>