{% extends "oauth/base.html" %}

{% block 'content' %}

<div class="mdl-cell mdl-cell--12-col">

	{% if consumer %}
	<div class="mdl-card mdl-shadow--4dp mdl-cell--6-col">
	    <div class="mdl-card__title">
	 	  <h2 class="mdl-card__title-text">Consumer</h2>
        </div>
    
	    <div class="mdl-card__supporting-text">
		  {% for key, value in consumer.items %}
		  <li class="mdl-list__item">
		  <div><strong>{{key}}</strong>: {{value}}</div>
		  </li>
		  {% endfor %}
		</div>
	</div>
	{% endif %}
	<br/>
	<div class="mdl-card mdl-shadow--4dp mdl-cell--6-col">
		<form action="/application/" method="POST">
		    <div class="mdl-card__title">
		 	  <h2 class="mdl-card__title-text">Create an application</h2>
	        </div>	
	        <div class="mdl-card__supporting-text">
				
					{% csrf_token %}
					{{application_form}}
					
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Create Application</button>
			</div>
		</form>
	</div>

	{% if client_list.data %}
	<h2>Clients</h2>

	{% for client in client_list.data %}
	<div class="mdl-card mdl-shadow--4dp mdl-cell--6-col">
	    <div class="mdl-card__title">
	 	  <h2 class="mdl-card__title-text">{{ client.name }}</h2>
        </div>
    
	    <div class="mdl-card__supporting-text">
	    	{% for key, value in client.items %}
	    		<li class="mdl-list__item">
			    <div><strong>{{key}}</strong>: {{value}}</div>
			    </li>
			{% endfor %}		  
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="{% url 'oauth' %}?client_id={{ client.client_id }}" 
			   class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Authenticate</button>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}