{% extends "oauth/base.html" %}

{% block 'content' %}
<div class="mdl-cell mdl-cell--12-col">
	
	{% if consumer %}
	<h3>Consumer</h3>
	{% for key, value in consumer.items %}
    <div><strong>{{key}}</strong>: {{value}}</div>
    {% endfor %}
	{% endif %}

	{% if client_list.data %}
	<h3>All clients for this consumer</h3>
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	  <div class="mdl-tabs__tab-bar">
	  	{% for client in client_list.data %}
	      <a href="#{{client.client_id}}-panel" class="mdl-tabs__tab {% if forloop.first %}is-active{% endif %}">
	      	{{ client.name }}</a>
	    {% endfor %}
	  </div>
	  {% for client in client_list.data %}
	  <div class="mdl-tabs__panel {% if forloop.first %}is-active{% endif %}" id="{{client.client_id}}-panel">
	    <strong>Client ID:</strong> {{ client.client_id }}
	    {% for key, value in client.items %}
	    <div><strong>{{key}}</strong>: {{value}}</div>
	    {% endfor %}
	    
	    <div>
	    	Authenticate a user with this app:
	    	<a href="{% url 'oauth' %}?client_id={{ client.client_id }}" class="mdl-button mdl-js-button  mdl-js-ripple-effect mdl-button--colored">			  Authenticate
			</a>
	    </div>
	  </div>	  
	  {% endfor %}	  
	</div>	
	<h3>Create another application</h3>
	<form action="/application/" method="POST">
		{% csrf_token %}
		{{application_form}}
		<div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Create Application</button>
		</div>
	</form>
	{% else %}
	<h3>Create an application</h3>
	<form action="/application/" method="POST">
		{% csrf_token %}
		{{application_form}}
		<div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Create Application</button>
		</div>
	</form>
	{% endif %}
</div>
{% endblock %}